<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ch.dao.UserDao">
<!-- 匹配数据库和java中的字段 -->
  <resultMap type="UserPo" id="re">
  <id property="userId" column="user_id"/>
  <result property="userName" column="user_name"/>
  <result property="passWord" column="user_password"/>
  </resultMap>
  
  <select  id="login" resultMap="re" parameterType="UserPo">
  select * from user where user_name = #{userName} and user_password = #{passWord}
  </select>
  
  <select id="getUserInfo" resultMap="re">
  select * from user
  </select>
  
  <select id="getUserById"  resultMap="re">
  select * from user where user_id=#{userId}
  </select>
  
  <update id="update">
  update user set user_name=#{userName},user_password=#{passWord} 
  where user_id=#{userId}
  </update>
  
  <delete id="delete">
  delete from user where user_id=#{userId}
  </delete>
  <insert id="add">
  insert into user(user_name,user_password) value(#{userName},#{passWord})
  </insert>
</mapper>
